.product-card {
    border: 1px solid #EDEDED;
    border-radius: 16px;
    width: 230px;
    position: relative;

    &-image {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        max-width:100%;
        max-height:100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 188px;
    }

    &-name {
        background: #F3F9FB;
        padding: 12px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;

        &-title {
            margin: 12px 0;

            &-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #222222;
                margin-bottom: 10px;
            }

            &-price {
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: #222222;

                &-actual {
                    display: flex;
                    gap: 12px;

                    &-mrp {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 18px;
                        text-decoration-line: line-through;
                        color: #222222;
                    }
                }

                &-quantity {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: right;
                    color: #93762D;
                }
            }
        }

        &-line {
            border: 1px solid #EDEDED;
        }

        &-description {
            margin-top: 10px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;  
            color: #249B3E;
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        display: flex;
        justify-content: flex-end;

        &-discount {
            background: #93762D;
            border-radius: 0px 16px;
            width: 50px;
            height: 50px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &:hover {
        border: 1px solid #93762D;
        box-shadow: 0px 97px 39px rgba(0, 0, 0, 0.01), 0px 54px 33px rgba(0, 0, 0, 0.03), 0px 24px 24px rgba(0, 0, 0, 0.04), 0px 6px 13px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
    }
}