.homepage {
    padding-top: 14px;

    &-content {
        padding: 100px 120px;

        &-bestseller {
            margin-bottom: 120px;

            &-title {
                font-weight: 700;
                font-size: 30px;
                display: flex;
                justify-content: space-between;

                &-name {
                    color: rgba(102, 102, 102, 1);
                }

                &-description {
                    color: rgba(147, 118, 45, 1);
                }

                &-view-all {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;              
                    text-align: right;
                    color: #222222;
                    cursor: pointer;
                }
            }

            &-underline {
                height: 1px;
                width: 100%;
                background: #EDEDED;
                margin-top: 15px;
                margin-bottom: 40px;

                &-overlap {
                    height: 1px;
                    width: 30%;
                    border-top: 3px solid #93762D;
                }
            }

            &-products {
                display: flex;
                justify-content: space-between;
            }
        }

        &-top-categories {
            margin-bottom: 120px;

            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                display: flex;
                justify-content: space-between;

                &-name {
                    color: rgba(102, 102, 102, 1);
                }

                &-description {
                    color: rgba(147, 118, 45, 1);
                }

                &-view-all {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;              
                    text-align: right;
                    color: #222222;
                    cursor: pointer;
                }
            }

            &-underline {
                height: 1px;
                width: 100%;
                background: #EDEDED;
                margin-top: 15px;
                margin-bottom: 40px;

                &-overlap {
                    height: 1px;
                    width: 25%;
                    border-top: 3px solid #93762D;
                }
            }

            &-products {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
            }
        }

        &-top-brands {

            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                display: flex;
                justify-content: space-between;

                &-name {
                    color: rgba(102, 102, 102, 1);
                }

                &-description {
                    color: rgba(147, 118, 45, 1);
                }

                &-view-all {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;              
                    text-align: right;
                    color: #222222;
                    cursor: pointer;
                }
            }

            &-underline {
                height: 1px;
                width: 100%;
                background: #EDEDED;
                margin-top: 15px;
                margin-bottom: 40px;

                &-overlap {
                    height: 1px;
                    width: 17%;
                    border-top: 3px solid #93762D;
                }
            }

            &-products {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                gap: 12px;

                &-brand {
                    width: 30%;
                }
            }
        }

        &-blogs {

            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                display: flex;
                justify-content: space-between;

                &-name {
                    color: rgba(102, 102, 102, 1);
                }

                &-description {
                    color: rgba(147, 118, 45, 1);
                }

                &-view-all {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;              
                    text-align: right;
                    color: #222222;
                    cursor: pointer;
                }
            }

            &-underline {
                height: 1px;
                width: 100%;
                background: #EDEDED;
                margin-top: 15px;
                margin-bottom: 40px;

                &-overlap {
                    height: 1px;
                    width: 17%;
                    border-top: 3px solid #93762D;
                }
            }

            &-blogs {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}