@import './styles/index.scss';

:root {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
  color:#93762D;
  background-color:#FFFFFF;
}

input {
  font-family: 'Montserrat', sans-serif;
  color:#93762D;
}

input::placeholder {
  color:rgba(102, 102, 102, 1);
}

*, body {
  box-sizing: border-box;
  margin: 0;
}

.bold {
  font-weight: bold;
}
